@font-face {
	font-family: 'Spooky';
	src: url('Spooky\ Halloween\ -\ OTF.otf') format('opentype'),
		url('Spooky\ Halloween\ -\ TTF.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
/*HTML and body styles */
html {
	background-size: cover;
	background-position: fixed;
	background-image: url(Pictures/back1.jpg);
	background-repeat: no-repeat;
	overflow-y: scroll;
}

body {
	max-width: 960px;
	min-width: 640px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 250px;
	filter: sepia(0.6) grayscale(1);
}
/*Header Styles */
header#headerMain {
	text-align: center;
	font-size: 6em;
	font-family: 'Spooky';
	font-weight: bold;
}
