body{
    margin-top: 25%;
    margin-bottom: 30%;
    margin-right: auto;
    margin-left: auto;
    background-image: url(/Pictures/table_of_contents.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
}

p {
    font-size: 1.5em;
}