$textColor: black;
$default: 'Spooky', serif, sans-serif;
$rotateAndTransform: rotate(90deg) translateY(-130px) translateX(50px);
$outLine: 1px solid red;

html {
	background-image: linear-gradient(rgb(230, 230, 230), rgb(151, 151, 151), rgb(80, 80, 80));
	height: 100%;
	background-repeat: no-repeat;
	z-index: 3;
}

body {
	z-index: 0;
	max-width: 1280px;
	min-width: 640px;
	margin-right: auto;
	margin-left: auto;
	font-family: $default;
	outline: $outLine;
}

header {
	position: relative;
	font-size: 2.465em;
	text-align: center;
}

nav#rightNav > ul {
	transform: $rotateAndTransform;
}

ul > li {
	float: right;
	list-style-type: none;
	padding: 4px 40px 4px 4px;
	outline: $outLine;
	text-align: center;

	/*Background Styles */
	box-shadow: inset rgb(151, 151, 151) 5px 0px 10px;
}
nav#rightNav a {
	text-align: center;
	text-decoration: none;
}

nav#rightNav {
	position: inherit;
	float: right;
	text-align: center;
}

p {
	position: relative;
	text-align: center;
	z-index: 1;
	text-indent: 2em;
	padding: 5px;
}

div.bottom > img {
	box-sizing: border-box;
	height: 20px;
	width: 50%;
}

div#center {
}
